
/* Fonts
-------------------------------------------------------------- */

@font-face {
	font-family: 'Post Grotesk Light';
	src: url('../fonts/PostGrotesk-Light.woff2') format('woff2'),
		url('../fonts/PostGrotesk-Light.woff') format('woff');
	font-style: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Post Grotesk Regular';
	src: url('../fonts/PostGrotesk-Regular.woff2') format('woff2'),
		url('../fonts/PostGrotesk-Regular.woff') format('woff');
	font-style: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Post Grotesk Medium';
	src: url('../fonts/PostGrotesk-Medium.woff2') format('woff2'),
		url('../fonts/PostGrotesk-Medium.woff') format('woff');
	font-style: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Post Grotesk Bold';
	src: url('../fonts/PostGrotesk-Bold.woff2') format('woff2'),
		url('../fonts/PostGrotesk-Bold.woff') format('woff');
	font-style: normal;
	font-style: normal;
}



/* Colors
-------------------------------------------------------------- */

body {  
	background-color:#FFFFFF;
}

svg {
	fill: currentColor;
}

/* General
-------------------------------------------------------------- */

* {   

	-webkit-font-smoothing: antialiased;

}

::selection{
	background-color:#000;
	color: #FFF;
}

::-moz-selection{
	background-color:#000;
	color: #FFF;
}

html {

}

body {  
	background-color:#000;
	color: #FFF;
	overflow-x: hidden;
	margin:0;
	padding:0;
	font-family: 'Post Grotesk Light', Helvetica, sans-serif;
	font-size: 21px;
	font-weight: normal;
}

a {
	color:#FFF;
	text-decoration: underline;
}
a:hover {
	color: #555;
}
a:hover span {
	border-color: #555 !important;
}

p { 
	margin: 0 0 15px 0;
}

p a {     

}

h1, h2, h3, h4 { 
	
	font-family: 'Post Grotesk Medium';
	margin:0 0 15px;
	font-size: 32px;
	font-weight: normal;
}

img {
	max-width: 100%;
	width:100%;
	height:auto;
	vertical-align: middle;
}


.center {
	text-align: center;
}

/* Structure
-------------------------------------------------------------- */
.container-fluid {
	padding-left: 30px;
	padding-right: 30px;
}

@media (min-width : 64em) {
	.container-fluid {
		padding-left: 50px;
		padding-right: 50px;
	}
}

/* Header
-------------------------------------------------------------- */
.home .header {
	display: none;
}
.header, 
.header * {
	pointer-events: none;
}
.header a {
	pointer-events: auto;
}

.header {
	width: 100%;
	height: auto;
	padding: 50px 0;
}

.header .logo {
	display:block;
}

.header .logo a {
	display: block;
	width: 100%;
	height: 100%;
}

.header .navigation {
	display: block;
}

.header .navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.header .navigation ul li {
}

.header .navigation ul li a {
	text-decoration: none;
	color: #000;
}
.header .navigation ul li a:hover {
	text-decoration: underline;
}
.header .navigation ul li.languages-item.is-active {
	display: none;

}

@media (min-width : 64em) {

	.home .header {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 888;
	}
	.header {
		font-size: 21px;
		font-weight: normal;
	}
	.header .logo {
		display: inline-block;
	}
	.home .header .logo a {

		color:#FFF;
		opacity: 0.88;
	}

	.header .navigation {
		display: inline-block;
		width:auto;
		float:right;
	}
	.header .navigation ul {

	}
	.header .navigation ul li {
		display: inline-block;
	}
	.header .navigation ul li a {
		
		padding: 0 5px;
	}
	.home .header .navigation ul li a {
		color: #FFF;
	}
	.home .header .navigation ul li a.active {
		text-decoration: underline;
	}
	.header .navigation  ul li:last-of-type a {
		padding: 0 0 0 5px;
	}
}



@media (max-width : 64em) {
	.header .navigation {/* turn this off to reveal mobile nav */

		display: none !important;
	}
}


/* Sections
-------------------------------------------------------------- */


.content section {
	background-size: cover;
	background-position: center;
	overflow: hidden;
	position: relative;
}

.content svg{
	width:100%;
	height: auto;
	margin:	0 0 15px;
}

@media (min-width : 64em) {
	.content * {
		pointer-events: none;
	}
	.content a,
	.content video {
		pointer-events: auto;
	}
	.content a {
		color:#FFF;
	}

	.content {

		margin-top: 0;
		margin-bottom:0;
		color:#FFF;
	}

	.content > section,
	.content > section > .container-fluid, 
	.content > section > .container-fluid > .row {
		min-height: 100vh;
	}

	.content > section > .container-fluid {
		padding: 0 !important;
	}

	.content > section > .container-fluid > .row > div > .box {
		padding:50px;
	}

/*
	.content section:odd  {
		background-color: #EEE;
	}

	.content section:even  {
	
	}

	.content section  > div > div {
		width:100%;
		padding-top:80px;
		padding-bottom: 80px;
		margin-bottom: 0;		

		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;


	}
*/

}



/* video embeds */

iframe {
	max-width:100%;
	display: block;
}

iframe, 
iframe * {
	pointer-events: auto;
}

@media (max-width : 64em) {
	iframe {
		margin: 0 auto 30px;

	}
}
/* section titles */


.title { /* turn this off to reveal titles */
	display: none;

}

body.home > main > section.section:nth-child(1) > div.container-fluid > div.title {
	display: none;

}

@media (min-width : 64em) {
	.title {

		display: none;
	}
}

@media (min-width : 64em) {

	.full .box {
		max-width: 700px;
		width: 100%;
		text-align:center;
		margin: 0 auto;
	}
}

/*menu*/

.home > header > div > nav > ul > li:nth-child(1) {
	display:none;

}


/* precariat */

@media (max-width : 48em) {
	body > main > section.section.precariat > div.container-fluid > div > div:nth-child(2) > div > div:nth-child(1) > svg {	
		margin: -30px 0 -20px;


	}

}


body > main > section.section.introductory-animation > div.container-fluid > div.row.zone > div > div {


	text-align:center;
	padding:150px 0;
}

		
@media (min-width : 64em) {

/* force vertical center on all item inner */

body > main > section > .container-fluid > .row > div {
	position:relative;
	display: flex;
	align-items: center;
}

body > main > section > .container-fluid > .row > div > .box {
	padding-right: 30px;
	padding-left: 30px;
}



	/* doma formula */

	body > main > section.section.doma-formula > div > .zone > div:nth-child(1) {
		background: rgba(0, 0, 0, 0);
		/*height: 100vh;*/
		text-align: center;
	}
	body > main > section.section.doma-formula > div > .zone > div:nth-child(1) > .box > svg {
		margin: 0 0 15px;
	}

	body > main > section.section.doma-formula > div > .zone > div:nth-child(2) {
		align-self: flex-end;
	}

	/* network / user */

	body > main > section.section.network-user > div.container-fluid > .zone > div:nth-child(1) > .box {
		align-self: flex-end;
		max-width: 500px;
		text-align: left;

	}

	body > main > section.section.network-user > div.container-fluid > .zone > div:nth-child(2) > .box {
		align-self: flex-end;
		max-width: 500px;
		text-align: right;
		
	}

	/* precariat */

	body > main > section.section.precariat > div.container-fluid > .zone > div:nth-child(2) {
		background: rgba(0, 0, 0, 0);
	}

	body > main > section.section.precariat > div.container-fluid > .zone > div:nth-child(2) > div > div:nth-child(1) > svg {	
		margin: 0 0 15px;
	}


	/* payments */

	body > main > section.section.payments > div.container-fluid > .zone > div:nth-child(2) {
		background: rgba(0, 0, 0, 0);
		text-align: center;
	}
	body > main > section.section.payments > div.container-fluid > .zone > div:nth-child(2) p {
		margin: 0 0 30px;

	}
	body > main > section.section.payments > div.container-fluid > .zone > div:nth-child(2) > .box {
		max-width: 480px;
		width: 100%;
	}

	/* smart contract */
	body > main > section.section.smart-contract > div.container-fluid > .zone > div:nth-child(1) {
		background: rgba(0, 0, 0, 0);
		position: relative;
	}

	body > main > section.section.smart-contract > div.container-fluid > .zone > div:nth-child(1) > .box {


	}
	/* smart city */
	body > main > section.section.smart-city > div.container-fluid > div.row.zone > div:nth-child(2) {
		background: rgba(0, 0, 0, 0);
		position: relative;
		text-align: center;
	}

	body > main > section.section.smart-city > div.container-fluid > div.row.zone > div:nth-child(2) > .box {

	}

	/* contact zone */
	body > main > section.section.get-in-touch > div.container-fluid > div.row.zone > div:nth-child(2) {
		background: rgba(0, 0, 0, 0);
		position: relative;
		text-align: center;
	}

	body > main > section.section.get-in-touch > div.container-fluid > div.row.zone > div:nth-child(2) > .box {

	}




}

@media (max-width : 64em) {
	body > main > section > div.container-fluid {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	p:last-of-type {
		/*margin-bottom: 0;*/
	}

	.email_form {
		padding: 30px 0;
		text-align: center;
	}
}

/* Form 
-------------------------------------------------------------- */

.email_form {

	margin: 15px 0;

	text-transform: lowercase;
}
.email_form ,
.email_form * {
	pointer-events: auto !important;
}

.email_form input,
.email_form button {
	color: #000;
	border: 1px solid #000;
	font-family: inherit;
	font-size: 18px;
	padding: 10px;
	background: #FFF;
	outline: none !important;

	border-radius: 5px;
}

.email_form input {
	margin-right: 5px;
	margin-bottom: 5px;

	color: #333;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
}

.email_form button {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;

    cursor:pointer;
}

.email_form .email_form_success {
	display: none;
}
/*
@media (min-width : 64em) {
	.email_form input,
	.email_form button {
		color: #FFF;
		border:1px solid #FFF;
		background: transparent;
	}
}


*/

.email_form input::-webkit-input-placeholder {	
	color: #333;
}
.email_form input::-moz-placeholder {
	color: #333;
}
.email_form input:-ms-input-placeholder {
	color: #333;
}
.email_form input:-moz-placeholder {
	color: #333;
}

.email_form button::-webkit-input-placeholder {
	color: #FFF;
}
.email_form button::-moz-placeholder {
	color: #FFF;
}
.email_form button:-ms-input-placeholder {
	color: #FFF;
}
.email_form button:-moz-placeholder {
	color: #FFF;
}

/* Icons
-------------------------------------------------------------- */
.icons{
	height: 50px;
	width: auto;
	margin:	0 0 15px;
}



/* Video
-------------------------------------------------------------- */

.video-container {
	width: 100%;
	height: 100%;
	background: #808080;
	display:none;
}

.video-container,
.video-container video {

	position:relative;
	width: 100%;
}

/* video fullscreen css only method */

@media (min-width : 64em) {

	.video-container {
		display: inline-block;
	}

	.video-container,
	.video-container video {
		z-index: 0;
		position: absolute;
		top: 50%; 
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		min-width: 100%; 
		min-height: 100%; 
		width: auto !important; 
		height: auto !important;
		overflow: hidden;
		pointer-events: none;
	}
}
.play {
	color:#FFF;
	position: absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	width: 25px;
	height: 25px;
	z-index: 1;
	cursor: pointer;
	pointer-events: none;
}

.mute {
	display: none;
}


/* Sections
-------------------------------------------------------------- */

footer {
	display:none;
}


/* from pen by shane 
-------------------------------------------------------------- */


a[data-modal="button"] {
	color:#FFF;

}


.Modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9000;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
}

.Modal-box {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
	width: 100%;
}
.Modal-box > .video-container2 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	max-width: 177.78vh;
	height: 56.25vw;
	max-height: 100vh;
	margin: auto;
	overflow: hidden;
}
.Modal-box > .video-container2 > iframe,
.Modal-box > .video-container2 > object,
.Modal-box > .video-container2 > embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.Modal-close {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9001;
	padding: 5px 10px;
	color: #fff;
	font-size: 16px;
	line-height: 1;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.85);
}

.Modal-cancel-overflow {
	overflow: hidden;
}
